html { overflow: hidden; }
body { background: #f4f4f4 url('../img/side_rp.png') repeat-y -3px 0; color: rgb(0, 0, 0); }
#browser { background: #ffffee; height: 40px; line-height: 40px; text-align: center; font-weight: bold; font-size: 14px; border: 1px solid #ffe5b1; position: relative; display: none; }
#browser a { color: #3B87B1; }
#browser #bClose { position: absolute; right: 6px; top: 0; width: 20px; height: 20px; line-height: 20px; font-size: 28px; *font-size:24px;
color: #d2160b; border-radius: 14px; font-weight: normal; }
/*container*/
#container { width: 100%; margin: 0 auto; overflow: hidden; }
/*col-side*/
#col-side { float: left; width: 95px; _margin-right: -3px; position: relative; z-index: 1000; }
#col-side .side-fold, #nav .main-nav { display: block; text-indent: 0px; overflow: hidden; background: url('../img/nav_spr.png') no-repeat; }
#nav { zoom: 1; padding-top: 40px;/*border-bottom:1px solid #28688b;border-color:rgba(0,0,0,0.15);*/ }
#nav .item { position: relative; margin-bottom: 1px; zoom: 1; float: left; width: 100%; }
#nav li.on, #nav li.current { background: url('../img/side_rp2.png') repeat-y -3px 0; }
/*总体*/
#nav .main-nav { position: relative; display: block; height: 90px; width: 100%; float: left; }
#nav .on .main-nav { background-position: 0 -90px; }
#nav .current .main-nav { background-position: 0 -180px; }
/*课程*/
#nav .course { background-position: -98px 0; }
#nav .on .course { background-position: -98px -90px; }
#nav .current .course { background-position: -98px -180px; }
/*信息*/
#nav .information { background-position: -196px 0; }
#nav .on .information { background-position: -196px -90px; }
#nav .current .information { background-position: -196px -180px; }
/*数据同步*/
#nav .data-sync { background-position: -294px 0; }
#nav .on .data-sync { background-position: -294px -90px; }
#nav .current .data-sync { background-position: -294px -180px; }
/*设置*/
#nav .setting { background-position: -490px 0; }
#nav .on .setting { background-position: -490px -90px; }
#nav .current .setting { background-position: -490px -180px; }

#nav .report { background-position: -392px 0; }
#nav .on .report { background-position: -392px -90px; }
#nav .current .report { background-position: -392px -180px; }
#nav .arrow { position: absolute; left: 75px; top: 58px; display: block; text-indent: 0; color: #b8d2e1; font-weight: bold; }
#nav .on .arrow { display: none; }
#nav .sub-nav-wrap { display: none; position: absolute; left: 95px; width: 130px; border: 4px solid #c7c7c7; border-color: rgba(0,0,0,0.2); border-left: 0; border-top-right-radius: 4px; border-bottom-right-radius: 4px; z-index: 9999; background-color: #fff; }
#nav .sub-nav-wrap b { position: absolute; left: -7px; top: 50%; margin-top: -8px; display: block; width: 7px; height: 16px; font-size: 0; overflow: hidden; background: url('img/page_spr_icons.png') no-repeat -48px -96px; }
#nav .sub-nav { background-color: #fff; padding: 10px 0 5px; line-height: 24px; }
#nav .sub-nav li { padding-bottom: 8px; }
#nav .sub-nav a { padding-left: 15px; display: block; color: #888; zoom: 1; }
#nav .sub-nav a:hover { background-color: #eee; color: #555; }
#nav .setting-nav { width: 220px; }
#nav .setting-nav li { float: left; width: 110px; }
#nav .setting-nav .sub-nav { padding-bottom: 0; zoom: 1; }
#nav .setting-nav h3 { margin-left: 15px; font-size: 12px; }
#nav .setting-nav .last { border-right: 0; _margin-right: -8px; }/*处理ie6在hover状态下错位的问题*/
#nav .setting-nav { bottom: 0; }
#nav .setting-nav b { top: auto; bottom: 35px; zoom: 1; }
#col-side .side-fold { font-size: 16px; color: #b8d2e1; height: 45px; background-position: -588px 0; border-top: 1px solid #5595b8; border-color: rgba(255,255,255,0.2); }
/*col_main*/
#col-main { overflow: hidden; zoom: 1; }
#main-hd {position: relative;z-index: 1001; height: 46px;padding: 0 18px 0; font-size: 14px; font-family: 'Microsoft Yahei'; background-color: #fff; }
#main-hd .tit { float: left; }
#main-hd .service-list{float: left;position: relative;zoom:1;}
#main-hd .service-list .trigger{display: block;height: 30px;color:#3B87B1;width:30px;text-align:center;line-height: 30px;margin: 9px 0 0;position:relative;z-index: 1001;padding: 0 22px 0 10px;background: #fff;float: left;border: 1px solid #fff;border-bottom: 0;}
#main-hd .service-list .trigger b{position:absolute;right:11px;top:15px;_top:12px;display:block;width:0;height:0;overflow:hidden;border-style:solid;border-width:4px;border-color:#3B87B1 #fff #fff;-moz-transition:-moz-transform 150ms ease-in;-webkit-transition:-webkit-transform 150ms ease-in;-o-transition:-o-transform 150ms ease-in;transition:transform 150ms ease-in;}
#main-hd .service-list .list{display:none;position: absolute;left:0;top:39px;z-index: 1000;width: 250px;padding:10px 15px 15px;border:1px solid #ccc;background: #fff;box-shadow: 0 0 3px rgba(0,0,0,0.25);max-height: 500px;overflow: auto;}
#main-hd .service-list .list li{background: url('img/dot_blue.png') no-repeat 0 10px;line-height: 22px;margin-bottom: 5px;padding-left: 10px;}
#main-hd .service-list .list a{color: #3B87B1;}
#main-hd .service-list .list a:hover{text-decoration: underline;}
#main-hd .service-list-on .trigger{border-color: #ccc;}
#main-hd .service-list-on .trigger b{-moz-transform:rotate(180deg);-moz-transform-origin:50% 30%;-webkit-transform:rotate(180deg);-webkit-transform-origin:50% 30%;-o-transform:rotate(180deg);-o-transform-origin:50% 20%;transform:rotate(180deg);transform-origin:50% 30%;filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);top:12px\9;_top:8px;}
#main-hd .service-list-on .list{display: block;}

#main-hd .user-menu { float: right; margin:3px 0 0 0; }
#main-hd .user-menu li { float: left; display: inline; position: relative; font-family:'\5b8b\4f53'; font-weight:normal; }
#main-hd .user-menu li.space{ margin:0 10px; color:#CCC; vertical-align:middle; }
#SysNews span{ background:#f74c23; color:#FFF; border-radius:3px; position:relative; padding:0 4px; line-height:1; margin:0 0 0 2px; font-size:12px; top:-5px; }
.ui-icons { float:left; width: 16px; height: 16px; background: url('img/page_spr_icons.png') no-repeat; margin:2px 4px 0 0 }
.icon-news{background-position: -288px -96px;}
.icon-user { background-position: -304px -96px; }
.icon-support { width:30px; background-position: -320px -96px; }
.icon-help { background-position: -352px -96px; }
.icon-quit { background-position: -368px -96px; }
#main-hd .user-menu a { display: block; _display:inline-block; height: 100%; width: auto; overflow: hidden; color:#555; }
#main-hd .user-menu a:hover { color:#2383c0; }
.user-menu a:hover .icon-news{background-position: -288px -112px;}
.user-menu a:hover .icon-user { background-position: -304px -112px; }
.user-menu a:hover .icon-support { background-position: -320px -112px; }
.user-menu a:hover .icon-help { background-position: -352px -112px; }
.user-menu a:hover .icon-quit { background-position: -368px -112px; }
#main-hd .company { margin-right: 10px; font: bold 24px/1.5 'Microsoft Yahei'; text-shadow: 0 0 1px rgba(0,0,0,0.2); max-width:360px; float:left; overflow:hidden; }
#main-hd .period{ float:left; margin:15px 0 0 0; }
#main-bd { overflow: hidden; zoom: 1; background-color: #fff; }
#main-hd .user-menu .telphone{ font-family:Arial, Helvetica, sans-serif; color:#555; }
#main-hd .user-menu .buy-now{ background:#F74C23; color:#FFF; padding:0 5px; font-weight:bold; border-radius:3px; }
#main-hd .user-menu .buy-now:hover{ color:#FFF; }

#page-tab { zoom: 1; }
/* personal-center-form */
.personal-center-form { padding: 0 20px; width: 260px; }
.personal-center-form .row-tip { color: #aaa; }
.personal-center-form .warning { color: #FF2200; font-size: 12px; padding-bottom: 5px; text-align: center; }
/* -----------------------
   * tab *
* ----------------------- */

.l-tab-loading { position: absolute; z-index: 999; top: 0; left: 0; background: white url('../component/ligerui/img/bigloading.gif') no-repeat center 40%; width: 100%; height: 100%; _height: 800px; display: none; }
.l-tab-links { position: relative; margin: 0 18px -1px; height: 32px; overflow: hidden; z-index: 1; }
.l-tab-links-left, .l-tab-links-right { position: absolute; top: 2px; width: 16px; height: 28px; border: 1px solid #dedede; background: #fff; z-index: 13; overflow: hidden; cursor: pointer; }
.l-tab-links-left { left: 0; border-top-left-radius: 2px; }
.l-tab-links-right { right: 0; border-top-right-radius: 2px; }
.l-tab-links-left i, .l-tab-links-right i { position: absolute; left: 50%; top: 50%; margin: -5px 0 0 -3.5px; width: 7px; height: 11px; background: url('../component/ligerui/img/tab_arrow_spr.png') no-repeat 0 -16px; font-size: 0; overflow: hidden; }
.l-tab-links-right i { background-position: -16px -16px; }
.l-tab-links-left-over, .l-tab-links-right-over { background: #f4f4f4; }
.l-tab-links-left-over i { background-position: 0 -16px; }
.l-tab-links-right-over i { background-position: -16px -16px; }
.l-tab-links-left-invalid { background-position: 0 0; }
.l-tab-links-right-invalid { background-position: -16px 0; }
.l-tab-links ul { padding: 2px 0 0 1px; list-style: none; width: 9999px; overflow: hidden; position: absolute; top: 0; left: 0; zoom: 1; }
.l-tab-links li { float: left; margin: 0; padding: 0; display: inline; margin-left: -1px; height: 28px; line-height: 28px; cursor: pointer; position: relative; overflow: hidden; border: 1px solid #dedede; }
.l-tab-links li:first-child { border-top-left-radius: 2px; }
.l-tab-links li:last-child { border-top-right-radius: 2px; }
.l-tab-links li.l-selected { height: 30px; line-height: 30px; top: -2px; z-index: 10; border: 1px solid #CCC; border-bottom: 1px solid #f4f4f4; z-index: 10; border-top-left-radius: 2px; border-top-right-radius: 2px; background: #f4f4f4;
/*background: -moz-linear-gradient(top, #fcfcfc, #f4f4f4); 
background: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f4f4f4)); 
background: -o-linear-gradient(top, #fcfcfc, #f4f4f4);
background: -ms-linear-gradient(top, #fcfcfc 0%,#f4f4f4 100%); 
background: linear-gradient(top, #fcfcfc, #f4f4f4); 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f4f4f4');*/}
.l-tab-links li a { display: block; margin: 0 30px 0 10px; text-decoration: none; color: #aaa; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -khtml-user-select: none; user-select: none; }
.l-tab-links li.l-selected a { color: #333; font-size: 14px; font-weight: bold; }
.l-tab-links-item-left, .l-tab-links-item-right { display: none; }
.l-tab-links-item-close { width: 12px; height: 12px; overflow: hidden; position: absolute; top: 8px; right: 5px; z-index: 12; background: url('../component/ligerui/img/tab_close.png') no-repeat; cursor: pointer; }
.l-selected .l-tab-links-item-close { background-position: 0 -12px; top: 8px; }
.l-tab-links .l-tab-links-item-close-over { background-color: #ddd; background-position: 0 -12px; border-radius: 1px; color:#c5160b; }
.l-tab-content { margin: 0 auto; padding: 0; border-top: 1px solid #d6d6d6; width: 100%; }
.l-tab-content-item { width: 100%; overflow: hidden; position: relative; }
.l-tab-content-item iframe { width: 100%; height: 100%; border: none; }
.l-tab-drag-proxy { border: 1px solid #BDD1EE; position: absolute; z-index: 1001; height: 25px; line-height: 25px; padding-left: 19px; padding-right: 4px; background: white; }
.l-tab-drag-proxy .l-drop-icon { position: absolute; top: 5px; left: 4px; width: 16px; height: 16px; }
.l-drop-no { background: white url('../component/ligerui/img/drop-icons.gif') no-repeat 0px -20px; width: 16px; height: 16px; overflow: hidden; }
.l-drop-yes { background: white url('../component/ligerui/img/drop-icons.gif') no-repeat 0px 0px; width: 16px; height: 16px; overflow: hidden; }
.l-tab-drag-droptip { width: 9px; position: absolute; top: 30px; left: 30px; height: 44px; z-index: 1000; }
.l-tab-drag-droptip .l-drop-move-up { position: absolute; top: 0px; }
.l-tab-drag-droptip .l-drop-move-down { position: absolute; bottom: 0px; }
.l-drop-move-up { background: transparent url('../component/ligerui/img/drop-icons.gif') no-repeat -40px 0px; width: 9px; height: 9px; overflow: hidden; }
.l-drop-move-down { background: transparent url('../component/ligerui/img/drop-icons.gif') no-repeat -60px 0px; width: 9px; height: 9px; overflow: hidden; }
/* --------------
   *   menu  *
* ------------ */

.l-menu { border: 1px solid #979797; background: #F5F5F5; position: absolute; overflow: hidden; padding-bottom: 2px; z-index: 1001 }
.l-menu-shadow { z-index: 1000;  filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2, MakeShadow=false, ShadowOpacity=0.2);
background: #ddd; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); position: absolute; }
.l-menu-inner { position: relative; width: 100%; z-index: 103; }
.l-menu-over { position: absolute; top: -24px; left: 2px; z-index: 102; height: 22px; overflow: hidden; background: url('../component/ligerui/img/menu-item-over-m.gif') repeat-x; width: 97%; }
.l-menu-yline { background: url('../component/ligerui/img/menu-line-y.gif') repeat-y; width: 2px; height: 2000px; position: absolute; left: 28px; top: 1px; z-index: 101; }
.l-menu-over-l { background: url('../component/ligerui/img/menu-item-over-l.gif') no-repeat; width: 28px; height: 22px; position: absolute; top: 0; left: 0; }
.l-menu-over-r { background: url('../component/ligerui/img/menu-item-over-r.gif') no-repeat; width: 3px; height: 22px; position: absolute; top: 0; right: 0; }
.l-menu-item { position: relative; height: 23px; line-height: 23px; width: 100%; cursor: pointer; }
.l-menu-item-line { background: url('../component/ligerui/img/menu-line-x.gif') repeat-x; height: 2px; width: 100%; margin-top: 1px; margin-bottom: 1px; margin-left: 30px; line-height: 2px; overflow: hidden; }
.l-menu-item-arrow { background: url('../component/ligerui/img/menu-item-arrow.gif') no-repeat; position: absolute; top: 8px; right: 9px; width: 4px; height: 7px; }
.l-menu-item-text { color: #000000; left: 33px; position: absolute; top: 0; }
.l-menu-item-icon { left: 3px; top: 0; position: absolute; width: 25px; height: 22px; overflow: hidden; }
.l-menu-item-disable { cursor: default; }
.l-menu-item-disable .l-menu-item-text { color: #A1A1A1; }
#tabManage { width: 26px; border-top-right-radius: 3px; background:#fff; }
#tabManage i { border-color: #888 #fff #fff; border-style: solid; border-width: 4px; font-size: 0; height: 0; margin: 12px 0 0 8px; display:block;width:0;height:0;overflow:hidden;}
#tabManage .tab-menu { position: absolute; z-index: 100; width: 200px; background: #F00; border: 1px solid #F00; }
.l-tab-menu { position: absolute; background: none repeat scroll 0 0 #fff; border: 1px solid #ccc; border-radius: 0 0 4px 4px; cursor: default; left: 0; line-height: 25px; outline: 0 none; padding: 7px 0; position: absolute !important; text-align: left; top: 0; white-space: nowrap; z-index: 1000; box-shadow:0 0 10px rgba(0, 0, 0, 0.5); }
.l-tab-menu p { width:115px; text-indent:10px; margin-bottom:3px; cursor:pointer; }
.l-tab-menu p b{ float:left; width:16px; height:16px; margin:6px 0 0 10px; }
#tabCloseAll b{ background:url(img/close_all.png) 0 0 no-repeat; }
.l-tab-menu p:hover{ background:#337fa9; color:#fff; }
/*重新初始化*/
.re-initialize{ color:#555; }
.re-initialize h3{ color:#F00; margin-bottom:10px; }
.re-initialize ul{ padding-left:16px; margin-bottom:10px; }
.re-initialize ul li{ list-style:square; }
.re-initialize p input{ vertical-align:middle; margin-right:6px; }
.check-confirm{ visibility:hidden; color:#F00; font-size:12px; }
